.venv
__pycache__
logs
logs_fid
multirun
tensorboard_logs
.idea
test
test_inference.py
test_inference_mai_mod.py
*.lck
.env
.vscode
mania-dataset/*
train/artifacts/cache/
train/artifacts/reports/
train/artifacts/runs/
train/artifacts/splits/
train/artifacts/features/control_timeseries_4k_no_timing_anomalies_2to6.parquet
train/artifacts/features/control_map_summary_4k_no_timing_anomalies_2to6.parquet
**/.DS_Store
train/artifacts/features/control_v2_map_summary_4k_no_timing_anomalies_2to6.parquet
train/artifacts/features/control_v2_timeseries_4k_no_timing_anomalies_2to6.parquet
train/artifacts/features/control_v2_audit/control_v2_section_audit_8s_stride4.parquet
train/artifacts/features/control_v2_audit/control_v2_section_audit_8s_stride4_errors.parquet
